@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  /*50% of your page
    but this hard codes it so it doesnt look good in very small screens
    like 450px. so either override it using media or create another
    class for the img
  */
}

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  line-height: 1.5;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.logo {
  width: 160px;
}

.purple {
  color: #7342d6;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link--primary:hover {
  /* if you wanted to put this line before nav__link:hover, the you would have to use 
       text-decoration: none !important; so that it would get priority but !important
       not good to use unless you absolutely need to use it
    */
  text-decoration: none;
}

.btn__menu{
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop{
  position: absolute;
  /* aboslute since we want this in it's own world */
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*width: 100vw;
    height: 100vh; 
    doing top, right ,bot, left 0 and 
    setting width and height like that
    does the same thing
  */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  /* can't animate from display none to display flex bc element literally goes away so you need to use visibility and opacity */
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
}

.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link{
  color: white;
  font-size: 40px;
}

.menu__list{
  padding: 32px 0;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* Landing */

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  /* the entire vertical height - nav height(80px)/ fills up the background color */
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 50;
  /* as long as the z-index is above the z-index of the wave, 
    it should show up above. So as long as it is z-index: 2 or more. The necessity of this depends on the screen size.
    if the screen is big enough(monitor) then the two img wouldnt overlap but im using a laptop so it does. Also you 
    dont know what screen the other users will be using so good practice?
    */
}

.header__img--resize{
  height: 50vh;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-cursor{
  cursor: not-allowed;
}

/* Highlights */

#highlights {
  position: relative;
  max-width: 100vw;
  
  /*
    overflow-x: clip;
     Because the wave's width was 101vw, you can see whitespace outside the page
     so you have to contain it by setting max width and overflow-x:hidden on the BODY TAG
  */
}

#highlights:before,
#highlights:after{
    background: url(./assets/wave.svg);
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    /* viewport width(vw) viewport height(vh/not vertical height) 
      these are height relative to the screen users are using*/
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg); 
    /*now instead of pushing it up, we pushing it down 
      so use positive 100%
    */
  }
  

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  color: #7342d6;
  font-size: 32px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(115, 66, 214, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/* Features */

#features{
    /* since wave height is based on vw, padding here needs to be done in vw too to look best
    */
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books{
    display: flex;
    flex-wrap: wrap;
}

.book{
    width: 25%;
    padding: 24px;
}

.book__img{
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.book__img--wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    /* df-ing cause if i dont flex, then the img comes out of the figure rlly slightly
    */
}

.book:hover .book__img{
    transform: scale(1.03);
}

.book__title{
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover{
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings{
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal{
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* Recents */


/* Explore */

#explore{
  background-color: rgba(115, 66, 214, 0.1);
}

/* Footer */

footer{
  background-color: #242424;
}

.footer__logo{
  display: flex;
  /* for some reason, figure has a bigger height than the img itself
     and if you display flex it, it gets fixed. david don't know why either
  */
}

.footer__logo--img{
  width: 160px;
  height: auto;
  /* had to use auto bc it was inheriting the 50vh 
     that was used in the header img 
  */
  filter: grayscale(1) invert(1);
  /* grayscale 1 turns all elements into dark colors, then you invert it to make it all white */
}

.footer__link,
.footer__copyright{
  color: white;
}

.footer__list{
  margin: 20px 0 24px 0;
}

.footer__link{
  padding: 0 8px;
}



@media (max-width: 768px) {
  .header__description{
    padding: 0 24px;
    margin-top: 16px;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 24px;
  }

  .btn{
    font-size: 16px;
  }

  .book{
    width: 50%;
  }


}

@media (max-width: 550px) {
  .nav__links{
    display: none;
  }

  .btn__menu{
    display: block;
  }

  .highlight{ 
    width: 100%;
  }

  .highlight:not(:last-child){
    margin-bottom: 24px;
  }
}

@media (max-width: 316px) {
  .header__img--wrapper{
    padding-top: 0;
  }

  h1{
    font-size: 34px;
  }

  h2{
    font-size: 20px;
  }
  
  .header__description{
    padding: 8px 24px;
  }
}